body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.login-form {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-color: rgba(255,255,255,0.6);
    border: 1px solid black;
}

.login-form > span {
    margin-right: 5px;
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.score-page {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
}

.score-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid white;
}

.score-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score-title > img {
    height: 144px;
    margin: 10px;
    width: 419px;
    border: 3px solid black;
}

.score-title > span {
    display: flex;
    flex-direction: column;
}

.score-title > span > button {
    padding: 5px;
    width: 300px;
}

.ranking-list {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 20%;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid white;
    height: 100%;
    margin-right: 10px;
}

.user-list {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 20%;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid white;
    height: 100%;
    margin-left: 10px;
}

.user-list > h3,
.ranking-list > h3 {
    padding: 10px;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.6);
}

.rank-item {
    display: flex;
    font-size: 14pt;
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid black;
    padding: 5px;
}

.rank-item:not(:last-child) {
    border-bottom: none;
}

.rank-pos {
    width: 25px;
}

.rank-name {
    flex-grow: 1;
}

.rank-score {
    width: 25px;
}

.user-item {
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px;
    margin: 5px;
}

.user-scores {
    padding: 0px 10px 5px;
    margin: 10px;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.6);
}

.next-act {
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.6)
}

.act-group {
    display: flex;
    flex-direction: row;
    font-size: 20pt;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.act-country {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.score-item {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 5px;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.6);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; 
    align-items: center;
}

.user-score-num {
    width: 30px;
    padding: 5px;
    font-size: 20pt;
    border-right: 1px solid black;
}

.user-score-name {
    padding-left: 10px;
    font-size: 18pt;
    display: flex;
    width: 20%; 
}

.user-comment {
    padding-left: 10px;
    font-size: 14pt;
    font-style: italic;
}

.score-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
}